# dependencies
/node_modules
genkit/node_modules

# ai session data
genkit/data

# next.js
/.next/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
/.env*.local
/.env.development
/.env.production
genkit/.env

# typescript
*.tsbuildinfo

# editors
/.vscode
.idea

# nvm
.nvmrc

# favicons
/public/favicons/*

# Build Dir
/out
genkit/dist

# python
venv
__pycache__
